h1 {
    text-align: center;
    padding: 15px;
}

.calendar {
    display: flex;
    justify-content: center;
}

.empty {
    border: none;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    padding: 5px 20px;
}

  
td {
    text-align: center;
}